<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
		<title>Rest Product</title>
	</head>
	<body style="padding: 15px">
		<form th:action="@{/rest/}" class="pure-form" method="post">
			<fieldset>
				<legend>Rest Product Form</legend>
				商品名稱: <input type="text"   placeholder="請輸入商品名稱" id="name" name="name"><p/>
				商品數量: <input type="number" placeholder="請輸入商品數量" id="quantity" name="quantity"><p/>
				商品價格: <input type="number" placeholder="請輸入商品價格" id="price" name="price"><p/>
				<button type="submit" class="pure-button pure-button-primary">Add</button>
			</fieldset>    
		</form>
	
	</body>
</html>