<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
<title>Rest Product</title>
</head>
<body style="padding: 15px">
	<!-- 商品表單 -->
	<form th:action="@{/rest/}" class="pure-form" method="post">
		<fieldset>
			<legend>Product Form</legend>
			商品名稱: <input type="text" placeholder="請輸入商品名稱" id="name" name="name">
			<p />
			商品數量: <input type="number" placeholder="請輸入商品數量" id="quantity"
				name="quantity">
			<p />
			商品價格: <input type="number" placeholder="請輸入商品價格" id="price"
				name="price">
			<p />
			<button type="submit" class="pure-button pure-button-primary">新增</button>
		</fieldset>
	</form>

	<!-- 商品列表 -->
	<form class="pure-form">
		<fieldset>
			<legend>Product List</legend>
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>序號<br>index
						</th>
						<th>商品名稱<br>name
						</th>
						<th>商品數量<br>quantity
						</th>
						<th>商品價格<br>price
						</th>
						<th>修改<br>update
						</th>
						<th>刪除<br>delete
						</th>
					</tr>
				</thead>
				<tbody>
					<!-- 使用 status.index (從0開始) 或 status.count (從1開始) -->
					<!-- Thymeleaf 的 th:each 語法中，第一個參數是迭代項目，第二個參數（可選）是狀態變數 -->
					<tr th:each="product, status : ${products}">
						<td th:text=${status.count}></td>
						<td th:text="${product.name}"></td>
						<td th:text="${product.quantity}"></td>
						<td th:text="${product.price}"></td>
						<td>
							<a th:href="@{/rest/{id}(id=${status.index})}" 
           					   class="pure-button pure-button-primary">修改</a>
						</td>
						<td>
							<a th:href="@{/rest/{id}(id=${status.index}, action='delete')}" 
           					   class="pure-button pure-button-primary">刪除</a>
						</td>
				</tbody>
			</table>
		</fieldset>
	</form>
</body>
</html>