<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
		<title>Success</title>
	</head>
	<body style="padding: 15px">
		<form th:action="@{/rest/}" method="get" class="pure-form">
			<div th:if="${product != null}">
            	<div class="pure-g">
                	<div class="pure-u-1">
                    	<p>商品名稱: <span th:text="${product.name}">商品名稱</span></p>
               	        <p>商品數量: <span th:text="${product.quantity}">0</span></p>
       	                <p>商品價格: <span th:text="${product.price}">0.0</span></p>
                	</div>
            	</div>
          	</div>
			<button type="submit" class="pure-button pure-button-primary">Back</button>
		</form>
	</body>
</html>